<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">HealthyEats</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home", home_path %></li>
      <li><%= link_to "My Restaurants", restaurants_path %></li>
      <li><%= link_to "My Meals", meals_path %></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li><a>Signed in as <%= current_user.email %></a></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
      
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<!-- Home page header -->
<div class="jumbotron">
  <div class="container">

    <% if @meal.errors.any? %>
       <h2>There were errors saving your meal</h2>
       <ul>
	 <% @meal.errors.full_messages.each do |msg| %>
	 <li><%= msg %></li>
	 <% end %>
       </ul>
    <% end %>

    <%= form_for @meal do |f| %>
       <%= f.label :name, "Meal Name:" %>
       <%= f.text_field :name %><br/>
       <%= f.label :description %>
       <%= f.text_area :description %><br/>
       <%= f.label :calories, "Estimated Calories:" %>
       <%= f.text_field :calories %></br/>
       <%= f.submit %>
    <% end %>

  </div>
</div>

