<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">HealthyEats</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to "My Restaurants", restaurants_path %></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li><a>Signed in as <%= current_user.email %></a></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
      
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<!-- Home page header -->
<div class="jumbotron">
  <div class="container">
    <div class="btn-group index-btn">
      <%= link_to "Add new Restaurant", restaurants_search_path, :class => "btn btn-info btn-large" %>
    </div>

    <table class="table table-hover">
      <tr class="header">
	<td><h4>#</h4></td>
	<td><h4>Restaurant</h4></td>
	<td><h4>Address</h4></td>
	<td><h4>Yelp Rating</h4></td>
	<td></td>
      </tr>
      <% count = 0 %>
      <% @restaurants.each do |restaurant| %>
      <% count += 1 %>
      <tr>
	<td><h4><%= count %></h4></td>
	<td><h4><%= restaurant.name %></h4></td>
	<td><h4><%= restaurant.address %></h4></td>
	<td><h4><%= restaurant.yelp_rating %></h4></td>
	<td><h4><%= link_to "View meals", restaurant_path(restaurant) %></h4></td>
      </tr>
      <% end %>
    </table>

    <% if @restaurants.count != 0 %>
    <%= gmaps4rails(@json) %>
    <% else %>
    <%= gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 15, :auto_adjust => true}) %>
    <% end %>
  </div>
</div>

