<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">HealthyEats</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li><a>Signed in as <%= current_user.email %></a></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
      
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<!-- Home page header -->
<div class="jumbotron">
  <div class="container">
    <% if @restaurant_results.empty? %>
    <h1>No results found</h1>
    <%= link_to "Back to search", restaurants_search_path %>
    <% else %>
    <h1>Search Results</h1>
    <% @restaurant_results.each do |restaurant| %>
    
        <ul class="thumbnails">
      <li class="span4">
	<div class="thumbnail">
	  <%= image_tag restaurant.image_url %>
	  <h3><%= restaurant.biz_name %></h3>
	  <p><%= restaurant.address %></p>
	  <p>Yelp rating: <%= "#{restaurant.rating} / 5" %></p>
	  
	  <%= form_for @restaurant do |f| %>
	  <%= f.hidden_field :name, value: restaurant.biz_name %>
	  <%= f.hidden_field :address, value: restaurant.address %>
	  <%= f.hidden_field :yelp_rating, value: restaurant.rating %>
	  <%= f.hidden_field :image_url, value: restaurant.image_url %>
	  <div class="btn-group">
	    <%= f.submit "Bookmark" %>
	  </div>
	  <% end %>
	</div>
      </li>
    </ul>
    <% end %>
    <% end %>
  </div>
</div>

